# Python / Environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Large Data & Models (tracked via DVC)

data/*.parquet
models/*.pkl

# Logs & Reports
logs/
reports/

# IDE files
.vscode/
.idea/